
$darkGray: #2e2e2e;
$gray: #343434;
$white: #efefef;
$red: #e13000;
$darkBlue: #3c5272;
$blue: #0d84cc;
$lightBlue: #3ad7ff;

html, body{
  background: $darkGray;
  height: 100%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

::selection {
  color: $white;
  background: $lightBlue;
}

.textShadow{
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}
