article{
  height: 100%;
  section{
    // overflow: auto;
  }
  section.hero{
    text-align: center;
    min-height: 50%;
    width: 100%;
    display:table;
    margin: auto;
    background: $gray;
    background: $white;
    box-shadow: inset 0px 0px 25px 0px rgba(0,0,0,0.5);
    div.hero-content{
      vertical-align: middle;
      display: table-cell;
    }
    h1, h2{
    }
  }
  section.tagline{
    background: $white;
    box-shadow: inset 0px 0px 25px 0px rgba(0,0,0,0.5);
    color: $darkGray;
    margin: 0 auto;
    overflow: auto;
    text-align: center;
    h1{
      margin: 3em auto;
    }
  }
}
