html, body{
  color: $white;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6, a, blockquote, button{
  font-family: 'Libre Baskerville', serif;
}

h1.title{
  font-size: 4em;
  color: $lightBlue;
  @extend .textShadow;
}
h2.subtitle{
  font-size: 1.5em;
  @extend .textShadow;
}
